@model Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create new product</h2>

<form action="Create" method="post" class="w-50">
    @Html.AntiForgeryToken()
    <p>
        <label asp-for="@Model.Name" class="form-label"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="@Model.Category" class="form-label"></label>
        <input asp-for="@Model.Category" class="form-control" />
        <span asp-validation-for="@Model.Category" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="@Model.Price" class="form-label"></label>
        <input asp-for="@Model.Price" class="form-control" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </p>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index">Cancel and back to list</a>
</form>
