@model List<Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>
@{
    var total = @Model.Count();
}
<p>total: @total products</p>

<p><a asp-action="Create" class="btn btn-primary">Create new</a></p>

<table class="table table-bordered border-start-0 border-end-0" style="width:80%;">
    <thead class="table-light">
        <tr>
            <th>ID</th><th>Name</th><th>Category</th><th>Price</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var product in @Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Category</td>
            <td>@product.Price.ToString("C")</td>
            <td>
                <a asp-action="Details" asp-route-id="@product.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>

</table>
